@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat:wght@100&family=Oswald:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat:wght@100&family=Oswald:wght@300&family=Quicksand:wght@300&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Josefin+Sans:wght@200&family=Montserrat:wght@100&family=Oswald:wght@300&family=Quicksand:wght@300&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat:wght@100&family=Oswald:wght@300&family=Quicksand:wght@300&display=swap');


body{
    margin: 0;
    
}


body::-webkit-scrollbar {
    width: 1px; /* Ширина всего элемента навигации */
  }
  
  body::-webkit-scrollbar-track {
    background: #202020; /* Цвет дорожки */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Цвет бегунка */
    border-radius: 10px; /* Округление бегунка */
  }



header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #323232;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    color: white;
}
.logo{
    height: 60%;
    width: 5%;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 20px;
}

.bio{
    margin-top: 0;
    width: 100%;
    height: 90.8vh;
    background-color: #202020;
}
.hi{
    margin: 0;
}
.hi_section{
    color: white;
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 700;
    position: absolute;
    margin-top: 15%;
    margin-left: 28%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.about_section{
    color: #959595;
    font-family: "Josefin Sans";
    font-size: 15px;
    position: absolute;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.img_section{
    padding-top: 5%;
    padding-left: 60%;
}


/* FEATURED WORK */

.work{
    margin-top: 0;
    width: 100%;
    height: 210vh;
    background-color: #202020;
    color: #959595;
    font-family: "Josefin Sans";
    font-size: 12px;
}
.h1_work{
    margin-left: 8%;
    display: flex;
}
.arr_down_icon{
    width: 2.5%;
    margin-bottom: 0.3%;
    margin-right: 1%;

}

.main_img_div_1{
    margin-top: 5%;
}

.main_img1{
    width: 30%;
    height: 30%;
    margin-left: 20%;
}
.main_img2{
    width: 30%;
    height: 30%;
    margin-left: 2%;
}
.main_img_div_2{
    margin-top: 1%;
}
.main_img3{
    width: 30%;
    height: 30%;
    margin-left: 20%;
}
.main_img4{
    width: 30%;
    height: 30%;
    margin-left: 2%;
}


/* VISUAL EXPLORATION */

.visual{
    margin-top: 0;
    width: 100%;
    height: 130vh;
    background-color: #202020;
    color: #959595;
    font-family: "Josefin Sans";
    font-size: 12px;
}
.h1_visual{
    margin-left: 40%;
    display: flex;
    color: white;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 700;   
}

.book_mark{
    margin-top: 1%;
    margin-right: 1%;
    width: 4%;
}



.v_div_1{
    margin-left: 20%;
    margin-top: 5%;
}
.v_div_2{
    margin-left: 20%;
    margin-top: 0.1%;
}

.row_1{
    width: 25%;
}
.row_2{
    width: 25%;
}